@use 'variables' as *;

// Styling-module
.dev-mode-toggle {
  z-index: 10000;
  position: fixed;
  inset: auto 0 0 auto;
  bottom: 146px;
  border: none;
  right: -4px;
  padding: 0;

  &__image {
    height: 49px;
  }
}