// Colors
$profile-color: var(--env-ui-color-brand);
$profile-color-10: var(--env-ui-color-brand-10);
$profile-color-15: var(--env-ui-color-brand-15);
$profile-color-20: var(--env-ui-color-brand-20);

$profile-color-text: var(--env-ui-color-brand-contrast);
$profile-color-10-text: var(--env-ui-color-brand-10-contrast);
$profile-color-15-text: var(--env-ui-color-brand-15-contrast);
$profile-color-20-text: var(--env-ui-color-brand-20-contrast);

$background: var(--env-background-color);
$section-background: var(--env-section-background-color);

$block-standard-background: var(--env-block-background-color);
$block-standard-text: var(--env-block-font-color);

$block-primary-background: var(--env-block-primary-background-color);
$block-primary-text: var(--env-block-primary-font-color);

$block-secondary-background: var(--env-block-secondary-background-color);
$block-secondary-text: var(--env-block-secondary-font-color);

$text-primary: var(--env-font-color);
$link-primary: var(--env-link-font-color);

$element-standard-background: var(--env-element-background-color);
$element-standard-text: var(--env-element-font-color);

$element-primary-background: var(--env-element-primary-background-color);
$element-primary-text: var(--env-element-primary-font-color);

$element-secondary-background: var(--env-element-secondary-background-color);
$element-secondary-text: var(--env-element-secondary-font-color);

// Screen sizes
$tablet: 1024px;
$mobile: 767px;
$mobile-small: 460px;

// Typography
$font-family: var(--env-font-family);
$font-color: var(--env-font-color);
$font-color-muted: var(--env-font-color-muted);
$font-size-base: var(--env-font-size-base);
$font-size-x-small: var(--env-font-size-x-small);
$font-size-small: var(--env-font-size-small);
$font-size-medium: var(--env-font-size-medium);
$font-size-large: var(--env-font-size-large);
$font-size-x-large: var(--env-font-size-x-large);
$font-size-xx-large: var(--env-font-size-xx-large);
$font-size-xxx-large: var(--env-font-size-xxx-large);
$font-size-xxxx-large: var(--env-font-size-xxxx-large);
/* Overline Text Variables */
$text-overline-font-family: var(--env-ui-text-overline-font-family);
$text-overline-font-color: var(--env-ui-text-overline-font-color);
$text-overline-font-size: var(--env-ui-text-overline-font-size);
$text-overline-font-weight: var(--env-ui-text-overline-font-weight);
$text-overline-text-transform: var(--env-ui-text-overline-text-transform);
$text-overline-letter-spacing: var(--env-ui-text-overline-letter-spacing);

/* Heading Text Variables */
$text-heading-font-family: var(--env-ui-text-heading-font-family);
$text-heading-font-color: var(--env-ui-text-heading-font-color);
$text-heading-font-size: var(--env-ui-text-heading-font-size);
$text-heading-font-weight: var(--env-ui-text-heading-font-weight);
$text-heading-text-transform: var(--env-ui-text-heading-text-transform);
$text-heading-letter-spacing: var(--env-ui-text-heading-letter-spacing);

/* Section Heading Text Variables */
$text-sectionheading-font-family: var(--env-ui-text-sectionheading-font-family);
$text-sectionheading-font-color: var(--env-ui-text-sectionheading-font-color);
$text-sectionheading-font-size: var(--env-ui-text-sectionheading-font-size);
$text-sectionheading-font-weight: var(--env-ui-text-sectionheading-font-weight);
$text-sectionheading-text-transform: var(--env-ui-text-sectionheading-text-transform);
$text-sectionheading-letter-spacing: var(--env-ui-text-sectionheading-letter-spacing);

/* Subheading Text Variables */
$text-subheading-font-family: var(--env-ui-text-subheading-font-family);
$text-subheading-font-color: var(--env-ui-text-subheading-font-color);
$text-subheading-font-size: var(--env-ui-text-subheading-font-size);
$text-subheading-font-weight: var(--env-ui-text-subheading-font-weight);
$text-subheading-text-transform: var(--env-ui-text-subheading-text-transform);
$text-subheading-letter-spacing: var(--env-ui-text-subheading-letter-spacing);

/* Caption Text Variables */
$text-caption-font-family: var(--env-ui-text-caption-font-family);
$text-caption-font-color: var(--env-ui-text-caption-font-color);
$text-caption-font-size: var(--env-ui-text-caption-font-size);
$text-caption-font-weight: var(--env-ui-text-caption-font-weight);
$text-caption-text-transform: var(--env-ui-text-caption-text-transform);
$text-caption-letter-spacing: var(--env-ui-text-caption-letter-spacing);

$font-size-small-heading: 1.5rem;
$font-size-large-text: 1.125rem;

// Links
$link-font-color: var(--env-link-font-color);
$link-text-decoration: var(--env-link-text-decoration);
$link-hover-font-color: var(--env-link-hover-font-color);
$link-hover-text-decoration: var(--env-link-hover-text-decoration);

$link-secondary-font-color: var(--env-link-secondary-font-color);
$link-secondary-text-decoration: var(--env-link-secondary-text-decoration);
$link-secondary-hover-font-color: var(--env-link-secondary-hover-font-color);
$link-secondary-hover-text-decoration: var(--env-link-secondary-hover-text-decoration);

// Spacing
$spacing-xxx-small: var(--env-spacing-xxx-small);
$spacing-xx-small: var(--env-spacing-xx-small);
$spacing-x-small: var(--env-spacing-x-small);
$spacing-small: var(--env-spacing-small);
$spacing-medium: var(--env-spacing-medium);
$spacing-large: var(--env-spacing-large);
$spacing-x-large: var(--env-spacing-x-large);
$spacing-xx-large: var(--env-spacing-xx-large);
$spacing-xxx-large: var(--env-spacing-xxx-large);

// Shadows
$box-shadow: var(--env-box-shadow);
$box-shadow-large: var(--env-box-shadow-large);
$box-shadow-small: var(--env-box-shadow-small);
$box-shadow-color: var(--env-box-shadow-color);

// Borders
$border-radius: var(--env-border-radius);
$border-radius-small: var(--env-border-radius-small);
$border-radius-medium: var(--env-border-radius-medium);
$border-radius-large: var(--env-border-radius-large);
$border-color: var(--env-border-color);
$border-color-light: var(--env-border-color-light);

// Branding and UI Colors
$ui-color-brand: var(--env-ui-color-brand);
$ui-color-brand-dark: var(--env-ui-color-brand-dark);
$ui-color-brand-contrast: var(--env-ui-color-brand-contrast);
$background-color: var(--env-background-color);
$section-background-color: var(--env-section-background-color);
$ui-color-brand-10: var(--env-ui-color-brand-10);
$ui-color-brand-20: var(--env-ui-color-brand-20);
$ui-color-brand-30: var(--env-ui-color-brand-30);
$ui-color-brand-40: var(--env-ui-color-brand-40);
$ui-color-brand-50: var(--env-ui-color-brand-50);
$ui-color-brand-60: var(--env-ui-color-brand-60);
$ui-color-brand-70: var(--env-ui-color-brand-70);
$ui-color-brand-80: var(--env-ui-color-brand-80);
$ui-color-brand-90: var(--env-ui-color-brand-90);
$ui-color-brand-100: var(--env-ui-color-brand-100);
$ui-color-brand-10-contrast: var(--env-ui-color-brand-10-contrast);
$ui-color-brand-20-contrast: var(--env-ui-color-brand-20-contrast);
$ui-color-brand-30-contrast: var(--env-ui-color-brand-30-contrast);
$ui-color-brand-40-contrast: var(--env-ui-color-brand-40-contrast);
$ui-color-brand-50-contrast: var(--env-ui-color-brand-50-contrast);
$ui-color-brand-60-contrast: var(--env-ui-color-brand-60-contrast);
$ui-color-brand-70-contrast: var(--env-ui-color-brand-70-contrast);
$ui-color-brand-80-contrast: var(--env-ui-color-brand-80-contrast);
$ui-color-brand-90-contrast: var(--env-ui-color-brand-90-contrast);
$ui-color-brand-100-contrast: var(--env-ui-color-brand-100-contrast);

// Colors
// Base
$base-background-color: var(--env-base-background-color);
$base-section-background-color: var(--env-base-section-background-color);
// Blocks
$block-font-color: var(--env-block-font-color);
$block-background-color: var(--env-block-background-color);
$block-border-color: var(--env-block-border-color);
$block-link-font-color: var(--env-block-link-font-color);
$block-link-hover-font-color: var(--env-block-link-hover-font-color);
$block-link-text-decoration: var(--env-block-link-text-decoration);
$block-link-hover-text-decoration: var(--env-block-link-hover-text-decoration);
/* Primary Block Variables */
$block-primary-font-color: var(--env-block-primary-font-color);
$block-primary-background-color: var(--env-block-primary-background-color);
$block-primary-border-color: var(--env-block-primary-border-color);
$block-primary-link-font-color: var(--env-block-primary-link-font-color);
$block-primary-link-hover-font-color: var(--env-block-primary-link-hover-font-color);
$block-primary-link-text-decoration: var(--env-block-primary-link-text-decoration);
$block-primary-link-hover-text-decoration: var(--env-block-primary-link-hover-text-decoration);
/* Secondary Block Variables */
$block-secondary-font-color: var(--env-block-secondary-font-color);
$block-secondary-background-color: var(--env-block-secondary-background-color);
$block-secondary-border-color: var(--env-block-secondary-border-color);
$block-secondary-link-font-color: var(--env-block-secondary-link-font-color);
$block-secondary-link-hover-font-color: var(--env-block-secondary-link-hover-font-color);
$block-secondary-link-text-decoration: var(--env-block-secondary-link-text-decoration);
$block-secondary-link-hover-text-decoration: var(--env-block-secondary-link-hover-text-decoration);

// Elements
$element-font-color: var(--env-element-font-color);
$element-background-color: var(--env-element-background-color);
$element-background-color-dark: var(--env-element-background-color-dark);
$element-background-color-light: var(--env-element-background-color-light);

$success-background: var(--env-element-success-background-color);
$success-color: var(--env-element-success-font-color);

$danger-background: var(--env-element-danger-background-color);
$danger-color: var(--env-element-danger-font-color);

$warning-background: var(--env-element-warning-background-color);
$warning-color: var(--env-element-warning-font-color);

$info-background: var(--env-element-info-background-color);
$info-color: var(--env-element-info-font-color);

// Status
$status-neutral: var(--env-status-neutral);
$status-neutral-contrast: var(--env-status-neutral-contrast);
$status-active: var(--env-status-active);
$status-active-contrast: var(--env-status-active-contrast);
$status-active-text: var(--env-status-active-text);
$status-attention: var(--env-status-attention);
$status-attention-contrast: var(--env-status-attention-contrast);
$status-attention-text: var(--env-status-attention-text);
$status-error: var(--env-status-error);
$status-error-contrast: var(--env-status-error-contrast);
$status-error-text: var(--env-status-error-text);

// Focus Outline
$focus-size: var(--env-focus-size);
$focus-offset: var(--env-focus-offset);
$focus-outline-color: var(--env-focus-outline-color);
$focus-inner-color: var(--env-focus-inner-color);

// Components
// Alert
$alert-font-family: var(--env-alert-font-family);
$alert-border-radius: var(--env-alert-border-radius);
$alert-background-color: var(--env-alert-background-color);

// Badge
$badge-font-family: var(--env-badge-font-family);
$badge-font-size: var(--env-badge-font-size);
$badge-border-radius: var(--env-badge-border-radius);

// Breadcrumbs
$breadcrumb-divider-color: var(--env-breadcrumb-divider-color);

// Buttons
$button-font-family: var(--env-button-font-family);
$button-border-radius: var(--env-button-border-radius);

// Cardholder
$cardholder-column-min-width: var(--env-cardholder-column-min-width);
$cardholder-column-max-width: var(--env-cardholder-column-max-width);
$cardholder-column-spacing: var(--env-cardholder-column-spacing);
$cardholder-grid-column-width: var(--env-cardholder-grid-column-width);
$cardholder-grid-gap: var(--env-cardholder-grid-gap);

// Collapse
$collapse-border-style: var(--env-collapse-border-style);
$collapse-border-width: var(--env-collapse-border-width);
$collapse-icon-color: var(--env-collapse-icon-color);
$collapse-icon-width: var(--env-collapse-icon-width);
$collapse-icon-height: var(--env-collapse-icon-height);
$collapse-toggle-duration: var(--env-collapse-toggle-duration);
$collapse-background-color: var(--env-collapse-background-color);
$collapse-border-color: var(--env-collapse-border-color);
$collapse-expanded-background-color: var(--env-collapse-expanded-background-color);
$collapse-expanded-border-color: var(--env-collapse-expanded-border-color);

// Form
$form-font-family: var(--env-form-font-family);
$form-input-border-radius: var(--env-form-input-border-radius);
$form-input-font-color: var(--env-form-input-font-color);
$form-input-border-color: var(--env-form-input-border-color);
$form-input-background-color: var(--env-form-input-background-color);
$form-label-font-family: var(--env-form-label-font-family);
$form-label-font-weight: var(--env-form-label-font-weight);

// Dialog
$dialog-small-width: var(--env-dialog-small-width);
$dialog-medium-width: var(--env-dialog-medium-width);
$dialog-large-width: var(--env-dialog-large-width);

// Pagination
$pagination-font-family: var(--env-pagination-font-family);
$pagination-border-width: var(--env-pagination-border-width);
$pagination-border-style: var(--env-pagination-border-style);

// Popover
$popover-width: var(--env-popover-width);

// Progress indicator
$progress-bar-poll-highlight-color: var(--env-progress-bar-poll-highlight-color);

// Profile image
$profile-image-border-radius: var(--env-profile-image-border-radius);

// Spinner

$spinner-color: var(--env-spinner-color);

// Tooltip
$tooltip-font-family: var(--env-tooltip-font-family);
$tooltip-font-size: var(--env-tooltip-font-size);
$tooltip-font-color: var(--env-tooltip-font-color);
$tooltip-font-weight: var(--env-tooltip-font-weight);
$tooltip-background-color: var(--env-tooltip-background-color);
$tooltip-border-radius: var(--env-tooltip-border-radius);